.app{
  background-size: cover;
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5);
}
.cabecalho{
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.questionario{
  box-shadow: 5px 10px;
  position: relative;
  margin-top: 70px;
  margin: auto;
  width: 50%;
  justify-content: center;
  height: 50%;
  border:navy;
  border-style: solid;
  padding: 150px;
}
.question-text{
  margin-top: 100px;
  align-items: center;
  font-size: large;
}
button{
  align-items: center;
  background-color: orange;
  width: 100px;
  justify-content: space-around;
  display: block;
  margin-top: 50px;
  cursor: pointer;
  border: 20px white;

}
button:hover{
  background-color: orangered;
}